# Extras
.DS_Store
.devcontainer/*
*.zip
*.tar.xz
*.pcm
*.raw

# bazel build files
bazel-*

# vscode files
.vscode

# Models
model/
*.tflite
*.pb
*.pb
*.pbtxt
*.data*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
